#content-title {

    padding: 20px;
    background-color: rgba(23, 195, 178, 0.636);
    color: black;
}

#below-content-title {
    padding-top: 30px;
    border: 0px;
}

.well {
    background-color: white;
    box-shadow: 2px 2px 10px rgb(218, 216, 216);
}

/* progress {
    height: 25px;
    width: 250px;
} */

#change-date {
    cursor: pointer
}



input#date-input-day[type="date"]::-webkit-calendar-picker-indicator {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
padding: 0;
color: transparent;
background: transparent;
}

#date-input-day {
    border-radius:10px;
}

input#date-input-day[type="date"] {
    position: relative;
}

input#date-input-month[type="month"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
    }
    
#date-input-month {
    border-radius:10px;
}

input#date-input-month[type="month"] {
    position: relative;
}



/* input#expense-cost-input {
    width: 50%
} */

/* .form-control {
    width: 50%;
} */

#form-box {
    background-color: white;
    box-shadow: None;
    border: None;
}

input#expense-date-picker[type="date"] {
    position: relative;
    /* width: 50%; */
}
#expense-date-picker[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}
