#content-title {

    padding: 20px;
    background-color: rgba(23, 195, 178, 0.636);
    color: black;
}

#below-content-title {
    padding-top: 30px;
    border: 0px;
}

.well {
    background-color: white;
    box-shadow: 2px 2px 10px rgb(218, 216, 216);
}

progress {
    height: 25px;
    width: 250px;
}