{% extends 'base/panel_layout.html' %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'panel.css' %}">
{% endblock %}

{% block custom-script %}
<script>
    // This fades out a success alert if there is one
  $(function() {
    setTimeout(function() {
      $('#success-alert').fadeOut('slow');
    }, 2500);
  });
</script>

{% endblock %}

{% block main-container %}
<div class="row" id="content-title">
    <div class="col-sm">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }} alert-box success"{% endif %} id="success-alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <h2>Monthly Budgets</h2>
    </div>
</div>

<div class="container">
    <div class="row-sm-1">
        <div class="col-sm">
            <div class="row" id="row-content">
                <div class="col-sm">
                    <div class="well banner" id="category-content">
                        <h4>Budgets
                            <a href="{% url 'monthlybudget-create' %}" class="open-incident" data-popup-url="{% url 'monthlybudget-create' %}" style="font-size: 45px; font-family: 'Sofia Sans Extra Condensed', sans-serif;">
                              <span class="material-symbols-outlined" style="float: right" id="add-icon">add_circle</span>
                            </a>
                        </h4>
                        <table class="table table-sm table-striped">
                            <div class="w-auto">
                                <thead>
                                <tr>
                                    <th scope="col">Month</th>
                                    <th scope="col">Year</th>
                                    
                                    <th scope="col">Spending Budget</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for budget in budgets %}
                                    <tr>
                                        <td>{{budget.month_name}}</td>
                                        <td>{{budget.year}}</td>
                                        <td>{{budget.budget}}</td>
                                        <td><a href="{% url 'monthlybudget-update' budget.pk %}" class="open-incident" data-popup-url="{% url 'monthlybudget-update' budget.pk %}"><span id="change-icon" class="material-symbols-outlined">edit</span></a></td>
                                        <td><a href="{% url 'monthlybudget-delete' budget.pk %}" class="open-incident" data-popup-url="{% url 'monthlybudget-delete' budget.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            
                </div>
            </div>

        </div>
    </div>
</div>



{% include 'modal.html' %}
{% endblock %}