<!-- <form method="POST" action="{% url 'monthlybudget-delete' budget.pk %}">
    {% csrf_token %}
    <p>Are you sure you want to delete this monthly spending budget? "{{budget.year}}, {{budget.month}}: {{budget.budget}}"</p>    
    <input type="submit" value="Delete">
</form> -->

<div class="row">
    <div class="col-sm p-3">
        <form method="POST" action="{% url 'monthlybudget-delete' budget.pk %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    <div class="well" id="form-box">
                        <p>Are you sure you want to delete this monthly spending budget: "{{month_name}}, {{budget.year}}: {{budget.budget}}"</p>  
                        <input type="submit" value="Delete">
                    </div>

                </div>       
            </div>
            
        </form>
    </div>
</div>