{% extends 'base/panel_layout.html' %}

{% block main-container %}
<div class="row-sm-1">
    <div class="col-sm">
      <div class="well">
        <a href="{{request.META.HTTP_REFERER}}">Go back (NOT WORKING)</a>
        <h4>Spending Budgets</h4>
      </div>
    </div>
  </div>

  <div class="row-sm-1">
    <div class="col-sm">
        <div class="well">
            <a href="{% url 'yearlybudget-create' %}" class="open-incident" data-popup-url="{% url 'yearlybudget-create' %}">ADD Budget</a>
        </div>
    </div>
</div>

<div class="row-sm-1">
    <div class="col-sm">
        <div class="well">
            <table class="table">
                <div class="w-auto">
                    <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Spending Budget</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for budget in budgets %}
                        <tr>
                            <td>{{budget.year}}</td>
                            <td>{{budget.budget}}</td>
                            <td><a href="{% url 'yearlybudget-update' budget.pk %}" class="open-incident" data-popup-url="{% url 'yearlybudget-update' budget.pk %}">EDIT</a></td>
                            <td><a href="{% url 'yearlybudget-delete' budget.pk %}" class="open-incident" data-popup-url="{% url 'yearlybudget-delete' budget.pk %}">DELETE</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


{% include 'modal.html' %}
{% endblock %}