{% extends 'base/panel_layout.html' %}

{% block main-container %}
<div class="row-sm-1">
    <div class="col-sm-10">
      <div class="well">
        <a href="{{request.META.HTTP_REFERER}}">Go back (NOT WORKING)</a>
        <h4>Expenditure Categories</h4>
      </div>
    </div>
</div>

<div class="row-sm-1">
    <div class="col-sm-10">
        <div class="well">
            <a href="{% url 'category-create' %}" class="open-incident" data-popup-url="{% url 'category-create' %}">ADD Category</a>
        </div>
    </div>
</div>

<div class="row-sm-1">
    <div class="col-sm-10">
        <div class="well">
            <table class="table">
                <div class="w-auto">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{category.name}}</td>
                            <td><a href="{% url 'category-update' category.pk %}" method="POST">EDIT</a></td>
                            <td><a href="{% url 'category-delete' category.pk %}" method="POST">DELETE</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




{% include 'base/category_modal.html' %}

{% endblock %}