<div class="row">
    <div class="col-sm p-3">
        <form method="POST" action="{% url 'category-update' category.pk %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    <div class="well" id="form-box">
                        <h3 style="text-align: center;">Edit Category</h3>
                        <div class="form-group">
                            <label>Color</label>
                            {{form.color}}
                            <input type="color" id="color-picker">
                            <br>
                            <br>
                            <label>Name</label>
                            {{form.name}}  
                            <small class="form-text text-muted">200 characters maximum</small>
                            <span id="characters" style="float: right; padding: 3px; color: gray; font-size: small">0/200</span>
                            <br>
                            <br>

                            <label>Relation to Standard US Consumer Categories</label>
                            {{form.relation}}
                            <small class="form-text text-muted">Related category (optional)</small>
                            
                        </div>
                        <input type="submit" value="Submit" style="float: right;">
                    </div>

                </div>       
            </div>
            
        </form>
    </div>
</div>

<script>
    // Counter widget for displaying length
    $(document).ready(updateCount);
    $('#category-name-input').keyup(updateCount);
    $('#category-name-input').keydown(updateCount);

    function updateCount() {
        let num = $('#category-name-input').val().length;
        console.log(num)
        $('#characters').text(num.toString() + '/200');
    }

    color = document.querySelector('#id_color')
    colorpicker = document.querySelector('#color-picker')
    colorpicker.value = color.value
    color.style.display = 'none'

    $('#color-picker').change(() => {
        let colorfield = document.querySelector('#id_color')
        let colorpicker = document.querySelector('#color-picker')
        colorfield.value = colorpicker.value
    })
</script>