<!-- <h3>Category Form</h3>

<form method="POST" action="{% url 'category-create' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form> -->

<div class="row">
    <div class="col-sm p-3">
        <form method="POST" action="{% url 'category-create' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    <div class="well" id="form-box">
                        <h3 style="text-align: center;">New Category</h3>
                        <div class="form-group">
                            <label>Name</label>
                            {{form.name}}  
                            <small class="form-text text-muted">200 characters maximum</small>
                            <span id="characters" style="float: right; padding: 3px; color: gray; font-size: small">0/200</span>
                        </div>
                        <input type="submit" value="Submit" style="float: right;">
                    </div>

                </div>       
            </div>
            
        </form>
    </div>
</div>

<script>
    $('#category-name-input').keyup(updateCount);
    $('#category-name-input').keydown(updateCount);

    function updateCount() {
        let num = $('#category-name-input').val().length;
        console.log(num)
        $('#characters').text(num.toString() + '/200');
    }
</script>