{% extends 'base/daily_layout.html' %}

{% block custom-script %}
  <!-- <script>
    // Datepicker form for day. 
    $(function () {
      $("#datepicker").datepicker({
        buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        showOn: 'both',
        // Whenever a date is selected, submit form
        // Default form submission value is mm/dd/yyyy
        onSelect: function(dateText, inst) {
          $('#dateform').submit();
        }
      });
    });
  </script> -->
{% endblock %}

{% block container-header %}
<h4 style="display: inline">Daily Panel: {{month_name}} {{day}}, {{year}}</h4>

<form id="dateform" action="{% url 'daily-panel' %}" method="GET" style="display: inline">
  <input type="hidden" name="date" id="datepicker">
</form>




{% endblock %}

{% block expense-table %}
<h4>Expenses of the Day</h4>
<table class="table table-sm table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
            <td>{{expense.description}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}&day={{day}}">View More</a>

{% endblock %}


{% block spending %}
<h4>Spending</h4>
<h4>Today's Spending: {{day_expenditure}}</h4>
{% endblock %}

{% block add-expense %}
<a href="{% url 'expense-create' %}" class="open-incident btn btn-info" data-popup-url="{% url 'expense-create' %}">ADD Expense</a>
{% endblock %}

{% block subscription-table %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.category}} {{subscription.cost}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}
<h4>Average Spending per Day: {{expenditure_per_day}}</h4>
{% endblock %}


