{% extends 'base/daily_layout.html' %}

{% block custom-script %}
<!--Icon for Go left-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--Icon for Go Right-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<script>
  $(document).ready(() => {
    $('#change-date').click(() => {
      let dateForm = document.querySelector('#date-form');
      let dateTitle = document.querySelector('#date-title');
      if (dateForm.style.display === 'none') {
        dateForm.style.display = 'inline';
        dateTitle.style.display = 'none';
      }
      else {
        dateForm.style.display = 'none';
        dateTitle.style.display = 'inline';
      }
    });
    $('#date-input-day').change(() => {
      $('#date-form').submit();
    });
  });

  // This fades out a success alert if there is one
  $(function() {
    setTimeout(function() {
      $('#success-alert').fadeOut('slow');
    }, 2500);
  });
  
</script>

{% endblock %}

<!-- <script>
  let item = document.querySelector("#toggle");
  item.addEventListener("click", myFunction);

  function myFunction() {
    piechart = document.getElementById('piechart');
    barchart = document.getElementById('barchart');
    
    if (piechart.style.display === 'none') {
      piechart.style.display = 'block';
      barchart.style.display = 'none';
    }
    else {
      piechart.style.display = 'none';
      barchart.style.display = 'block';
    }
    
    };
  
</script> -->



{% block container-header %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }} alert-box success"{% endif %} id="success-alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<h3>Daily Panel</h3>

<a href="{% url 'daily-panel' %}?date={{yst_date}}" style="display: inline"><span class="material-symbols-outlined">arrow_back_ios</span></a>
<h2 id="date-title" style="display: inline">{{month_name}} {{day}}, {{year}}</h2>

<form action="{% url 'daily-panel' %}" method="GET" id="date-form" style="display: none;">
      <input type="date" name="date" id="date-input-day" style="width: 260px;"> 
</form>
<span id="change-date" class="material-symbols-outlined" style="display: inline">edit</span>
<a href="{% url 'daily-panel' %}?date={{tmr_date}}" style="display: inline"><span class="material-symbols-outlined">arrow_forward_ios</span></a>


<!-- <div class="row-sm-1">
  <div class="col">
    <h3>Daily Panel</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <a href="{% url 'daily-panel' %}?date={{yst_date}}" style="display: inline"><span class="material-symbols-outlined">arrow_back_ios</span></a>



    
   
  </div>
  <div class="col-sm-3">
    <h2 id="date-title" style="display: inline">{{month_name}} {{day}}, {{year}}</h2>

    <form action="{% url 'daily-panel' %}" method="GET" id="date-form" style="display: none; margin: 0px; padding: 0px;">
      <div class="w-25" style="display: inline;">
          <input type="date" name="date" id="date-input" >
      </div>
    </form>
    <span id="change-date" class="material-symbols-outlined" style="display: inline">edit</span>
  </div>
  <div class="col-sm-1">
    <a href="{% url 'daily-panel' %}?date={{tmr_date}}" style="display: inline"><span class="material-symbols-outlined">arrow_forward_ios</span></a>
  </div>
</div> -->




{% endblock %}

{% block expense-table %}
<h4>Expenses of the Day 
  <a href="{% url 'expense-create' %}" class="open-incident" data-popup-url="{% url 'expense-create' %}" style="font-size: 45px; font-family: 'Sofia Sans Extra Condensed', sans-serif;">
    <span class="material-symbols-outlined" style="float: right" id="add-icon">add_circle</span>
  </a>
</h4>
<table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td> 
            <td>{{expense.description}}</td>
            <td><a href="{% url 'expense-update' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-update' expense.pk %}" ><span id="change-icon" class="material-symbols-outlined">edit</span></a></td>
            <td><a href="{% url 'expense-delete' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-delete' expense.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}&day={{day}}">View More</a>

{% endblock %}


{% block spending %}
<div class="row">
  <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
    <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
  </div>
  <div class="col-xs-8" style="padding-top: 5px;">
    <span style="font-size: 15px; display: block; color: gray">Spending</span>
    <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">
      {{day_expenditure}}
      {% if red_percent_diff %}
        <span style="font-size: 20px; color: red;">up {{red_percent_diff}}%</span> 
      {% endif %}

      {% if green_percent_diff %}
        <span style="font-size: 20px; color: green;">down {{green_percent_diff}}%</span> 
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}

{% block add_expense %}
<a href="{% url 'expense-create' %}" class="open-incident" data-popup-url="{% url 'expense-create' %}" style="font-size: 45px; font-family: 'Sofia Sans Extra Condensed', sans-serif;">Add Expense</a>
{% endblock %}


{% block subscription-table %}
<h4>Active Subscriptions</h4>
<table class="table table-sm table-striped">
  <div class="w-auto">
      <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Cycle</th>
          <th scope="col">Cancel</th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
          {% for subscription in active_subscriptions %}
          <tr>
              <td>{{subscription.name}}</td>
              <td>{{subscription.cost}}</td>
              <td>{{subscription.cycle}}</td>
              <td><a href="{% url 'subscription-terminate' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-terminate' subscription.pk %}"><span class="material-symbols-outlined" id="terminate-icon">indeterminate_check_box</span></a></td>
              <td><a href="{% url 'subscription-update' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-update' subscription.pk %}"><span id="change-icon" class="material-symbols-outlined">edit</span></a></td>
              <td><a href="{% url 'subscription-delete' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-delete' subscription.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <h4>Was Active Subscriptions</h4>
  <table class="table table-sm table-striped">
    <div class="w-auto">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Cycle</th>
            <th scope="col">End Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for subscription in was_active_subscriptions %}
            <tr>
                <td>{{subscription.name}}</td>
                <td>{{subscription.cost}}</td>
                <td>{{subscription.cycle}}</td>
                <td>{{subscription.get_end_date}}</td>
                <td><a href="{% url 'subscription-update' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-update' subscription.pk %}"><span id="change-icon" class="material-symbols-outlined">edit</span></a></td>
                <td><a href="{% url 'subscription-delete' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-delete' subscription.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'subscription-list' %}">View All</a>

{% endblock %}

{% block b3 %}
<h4>Average Spending per Day: {{expenditure_per_day}}</h4>
{% endblock %}


