{% extends 'base/daily_layout.html' %}

{% block container-header %}
<h4>Daily Panel: {{month_name}} {{day}}, {{year}}</h4>
<form action="{% url 'daily-panel' %}" method="GET">
  <input type="text" placeholder="Month (int)" name="month">
  <input type="text" placeholder="Day" name="day">
  <input type="text" placeholder="Year" name="year">
  

  <input type="submit" value="Submit">
</form>
{% endblock %}

{% block bb %}
<h4>Expenses of the Day</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
            <td>{{expense.description}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}&day={{day}}">View More</a>

{% endblock %}


{% block b1 %}
<h4>Spending</h4>
<h4>Today's Spending: {{day_expenditure}}</h4>
<h4>This Month's Spending: {{this_month_total}}</h4>
<h4>This Year's Spending: {{this_year_total}}</h4>
{% endblock %}

{% block b2 %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.category}} {{subscription.cost}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}
<h4>Average Spending per Day: {{expenditure_per_day}}</h4>
{% endblock %}




{% block b4 %}
<h4>Pie Chart</h4>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<canvas id="pie-chart" width="500", height="500"></canvas>


  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        legend: {display: false},
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}