{% extends 'base/panel_layout.html' %}

{% block main-container %}
<div class="row-sm-1">
  <div class="col-sm-10">
    <div class="well">
      {% block container-header %}
      {% endblock %}
    </div>

  </div>


</div>

<div class="row-sm-1">
  <div class="col-sm-4">
    <div class="well">
        {% block bb %}
        {% endblock %}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          {% block b1 %}
          {% endblock %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          {% block b2 %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          
          {% block b3 %}
          {% endblock %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          {% block b4 %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}