<!-- 
    Default: This file is called expense_list.html due to the ListView requirements {expense} + __list.html
    But because I change dthe template_name attribute in the class, I can call this file a different name. 
-->

{% if request.user.is_authenticated %}
    <p>{{request.user}}</p> <!-- By default Django uses sessions to register users -->
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr> <!-- Indicates a header -->
<h1>My Expenses: {{total_expense}}</h1>
<a href="{% url 'expense-create' %}">Add Expense</a>

<table>
    <tr>
        <th>Expenses</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <!--
        For some reason, the ViewList passes the data into here, and it knows that it's all in object_list...
    -->
    {% for expense in expenses %}
    <tr>
        <td>{{expense}}</td>
        <td><a href="{% url 'expense' expense.id %}">View</a></td>
        <td><a href="{% url 'expense-update' expense.id %}">Edit</a></td>
        <td><a href="{% url 'expense-delete' expense.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No expenses in list</h3>
    {% endfor %}
    
</table>

