<div class="row">
    <div class="col-sm p-3">
        <form method="POST" action="{% url 'expense-update' expense.pk %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    <div class="well" id="form-box">
                        <h3 style="text-align: center;">Expense Form</h3>
                        <div class="form-group">
                            <label>Date</label>
                            {{form.date}}  
                            <small class="form-text text-muted">Click to change date!</small>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            {{form.category}}
                        </div>
                        <div class="form-group">
                            <label>Cost</label>
                            <div class="input-group mb-3">
                                <div class="input-group-addon">
                                    $
                                </div>
                                {{form.cost}}
                            </div>
                            <small id="negative-err-msg" class="form-text text-muted" style="color: red;" hidden>ERROR: Negative number</small>
                            <small id="overflow-err-msg" class="form-text text-muted" style="color: red;" hidden>ERROR: Input too large</small>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            {{form.description}}
                            <small class="form-text text-muted">Write a description: Optional</small>
                            <span id="characters" style="float: right; padding: 3px; color: gray; font-size: small">0/300</span>
                        </div>
                        <input id="expense-submit" type="submit" value="Submit" style="float: right;">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    // Counter for displaying length of user input
    $(document).ready(updateCount);
    $('#description-input').keyup(updateCount);
    $('#description-input').keydown(updateCount);

    function updateCount() {
        let num = $('#description-input').val().length;
        console.log(num)
        $('#characters').text(num.toString() + '/300');
    }

    $('#expense-cost-input').keyup(costValidation);

    // Some basic error validation
    function costValidation() {
        let num = $('#expense-cost-input').val();
        console.log(num);
        if (num && num < 0) {
            $('#expense-cost-input').css({'color': 'red'});
            $('#negative-err-msg').css({'display': 'block'});
            $('#expense-submit').prop('disabled', true);
        }

        else if (num > 99999999) {
            $('#expense-cost-input').css({'color': 'red'});
            $('#overflow-err-msg').css({'display': 'block'});
            $('#expense-submit').prop('disabled', true);
        }
        else {
            $('#expense-cost-input').css({'color': 'black'});
            $('#negative-err-msg').css({'display': 'none'});
            $('#overflow-err-msg').css({'display': 'none'});
            $('#expense-submit').prop('disabled', false);
        }
    }
</script>