{% load static %}
<div class="row">
    <div class="col-sm p-3">
        <!--Code to check for errors-->
        <!-- {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %} -->
        <form method="POST" action="{% url 'expense-create' %}" id="create-expense-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    
                    <div class="well" id="form-box">
                        <h3 style="text-align: center;">New Expense</h3>
                        <div class="form-group">
                            <label>Date</label>
                            {{form.date}}  
                            <small class="form-text text-muted">Click to change date!</small>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            {{form.category}}
                        </div>
                        <div class="form-group">
                            <label>Cost</label>
                            <div class="input-group mb-3">
                                <div class="input-group-addon">
                                    $
                                </div>
                                {{form.cost}}
                            </div>
                            <small id="negative-err-msg" class="form-text text-muted" style="color: red;" hidden>ERROR: Negative number</small>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            {{form.description}}
                            <small class="form-text text-muted">Write a description: optional</small>
                            <span id="characters" style="float: right; padding: 3px; color: gray; font-size: small">0/300</span>
                        </div>
                        <input id="expense-submit" type="submit" value="Submit" style="float: right;">
                    </div>

                </div>       
            </div>
            
        </form>
    </div>
</div>

<script>
    // This script notifies users that the date field contains an invalid date
    // Alerts users and changes color to red
    // The alert will continue to show on any change.
    // If users ignore the problem, then the submitted form will redirect to the plain expense-create HTML form
    //  With the error message
    // $(document).on('change', function(e){
    //     let year = $("#id_date_year");
    //     let month = $("#id_date_month");
    //     let day = $("#id_date_day");

    //     // Check if the days of the month is lower than the inputted date
    //     let max_days = new Date(year.val(), month.val(), 0).getDate();
    //     if (max_days < day.val()) {
    //         // Alert and change color
    //         alert("Error with Date");
    //         year.css({'color': 'red'});
    //         month.css({'color': 'red'});
    //         day.css({'color': 'red'});
            
    //     }
    //     else {
    //         // Change color back to black if no errors
    //         year.css({'color': 'black'});
    //         month.css({'color': 'black'});
    //         day.css({'color': 'black'});
    //     }
    // });
    // $(document).on('change', negativeCostValidation);
    // function negativeCostValidation() {
    //     let num = $('#expense-cost-input').val();
    //     console.log(num);
    // }
</script>

<script>
    $('#description-input').keyup(updateCount);
    $('#description-input').keydown(updateCount);

    function updateCount() {
        let num = $('#description-input').val().length;
        console.log(num)
        $('#characters').text(num.toString() + '/300');
    }

    $('#expense-cost-input').keyup(negativeCostValidation);

    function negativeCostValidation() {
        let num = $('#expense-cost-input').val();
        console.log(num);
        if (num && num < 0) {
            $('#expense-cost-input').css({'color': 'red'});
            $('#negative-err-msg').css({'display': 'block'});
            $('#expense-submit').prop('disabled', true);
        }
        else {
            $('#expense-cost-input').css({'color': 'black'});
            $('#negative-err-msg').css({'display': 'none'});
            $('#expense-submit').prop('disabled', false);
        }
    }
</script>

<!-- Invalid Handler -->
<!-- <script>
    $("#create-expense-form").validate({
        invalidHandler: function(form, validator) {
            let errors = validator.numberOfInvalids();
            if (errors) {
                $("#error-message").show().text("Date is invalid");
            } else {
                $("#error-message").hide(); 
            }
        }
    })
</script> -->