{% extends 'base/panel_layout.html' %}

{% block main-container %}
<div class="row-sm-1">
    <div class="col-sm-10">
      <div class="well">
        <a href="{{request.META.HTTP_REFERER}}">Go back (NOT WORKING)</a>
        <h4>Expenses for {{month}}-{{day}}-{{year}}</h4>
      </div>
    </div>
  </div>

<div class="row-sm-1">
    <div class="col-sm-10">
        <div class="well">
            <table class="table">
                <div class="w-auto">
                    <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{expense.category}}</td>
                            <td>{{expense.cost}}</td>
                            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
                            <td>{{expense.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}