{% extends 'base/daily_layout.html' %}

{% block container-header %}
<h4>Monthly Panel: {{month_name}}, {{year}}</h4>
<form action="{% url 'monthly-panel' %}" method="GET">
  <input type="text" placeholder="Month (int)" name="month">
  <input type="text" placeholder="Year" name="year">
  <input type="submit" value="Submit">
</form>
{% endblock %}

{% block bb %}
<h4>Recent Expenses</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
            <td>{{expense.description}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}">View More</a>
{% endblock %}


{% block b1 %}
<h4>Spending</h4>
<h4>This Month's Spending: {{month_expenditure}}</h4>
  {% if monthlybudget %}
    <h4>Monthly Spending Budget: {{monthlybudget}}</h4>
    <progress max="{{monthlybudget}}" value="{{month_expenditure}}"></progress>
      {% if surpass %}
      <h5>Monthly expenditure has exceeded the Monthly budget</h5>
      {% endif %}
      <a href="{% url 'monthlybudget-update' monthlybudget_object.pk %}">Edit spending budget</a>
  {% else %}
    <a href="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}">Add Spending Budget for Month</a>
  {% endif %}

{% endblock %}

{% block b2 %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.category}} {{subscription.cost}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}

  {% if expenditure_per_month %}
    <h4>Average Spending per Month: {{expenditure_per_month}}</h4>
  {% else %}
    <h4>Average Spending per Month: ~Needs two weeks of data </h4>
  {% endif %}



{% endblock %}




{% block b4 %}
<h4>Pie Chart</h4>
{% include 'base/pie_chart.html' %}

{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}