{% extends 'base/summary_layout.html' %}

{% block custom-script %}

<!--Icon for Go left-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--Icon for Go Right-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<script>
  $(document).ready(() => {
    $('#change-date').click(() => {
      let dateForm = document.querySelector('#date-form');
      let dateTitle = document.querySelector('#date-title');
      if (dateForm.style.display === 'none') {
        dateForm.style.display = 'inline';
        dateTitle.style.display = 'none';
      }
      else {
        dateForm.style.display = 'none';
        dateTitle.style.display = 'inline';
      }
    });
    $('#date-input-month').change(() => {
      $('#date-form').submit();
    });
  });
  
</script>

{% endblock %}

{% block container-header %}
<h3>Monthly Panel</h3>

<a href="{% url 'monthly-panel' %}?year={{prev_date_year}}&month={{prev_date_month}}" style="display: inline"><span class="material-symbols-outlined">arrow_back_ios</span></a>


<h2 id="date-title" style="display: inline">{{month_name}}, {{year}}</h2>

<form action="{% url 'monthly-panel'%}" method="GET" id="date-form" style="display: none;">
  <input type="month" id="date-input-month" name="date" style="width: 250px">
</form>
<span id="change-date" class="material-symbols-outlined" style="display: inline">edit</span>

<a href="{% url 'monthly-panel' %}?year={{next_date_year}}&month={{next_date_month}}" style="display: inline"><span class="material-symbols-outlined">arrow_forward_ios</span></a>
{% endblock %}



{% block expense-table %}

<h4 style="display: inline;">Recent Expenses</h4>
<a href="{% url 'expense-create' %}" class="open-incident btn btn-info" data-popup-url="{% url 'expense-create' %}" style="float: right; display: inline;">ADD Expense</a>
<table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td> 
            <td><a href="{% url 'daily-panel' %}?date={{expense.date|date:'Y-m-d'}}">{{expense.date|date:"M-d"|slice:"0:"}}</a></td>
            <td>{{expense.description|truncatechars:80}}</td>
            <td><a href="{% url 'expense-update' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-update' expense.pk %}" ><span id="change-icon" class="material-symbols-outlined">edit</span></a></td>
            <td><a href="{% url 'expense-delete' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-delete' expense.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}">View More</a>
{% endblock %}


{% block spending %}
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">Spending</span>
      <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">{{month_expenditure}}</div>
    </div>
  </div>
  

  



{% endblock %}

{% block budgets %}
  {% if monthly_budget_indicator == "NO_BUDGET" %}
  <!--No Monthly Budget, display neutral icon-->
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="neutral-icon">mood</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">Track Budget Progress</span>
      <a href="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}" class="open-incident" data-popup-url="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}">
        <span style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">Add</span>
      </a>
    </div>
  </div>
  {% else %}
  <div>Hello WOrld</div>
  {% endif %}
  <p>{{monthly_budget_indicator}}</p>
{% endblock %}

{% block add-expense %}

  {% if monthlybudget %}
  
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px;">
      <span class="material-symbols-outlined" id="piggy-icon">savings</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">
        Spending Budget <a href="{% url 'monthlybudget-delete' monthlybudget_object.pk %}" class="open-incident" data-popup-url="{% url 'monthlybudget-delete' monthlybudget_object.pk %}" style="float: right"><span id="delete-icon" class="material-symbols-outlined">close</span></a>
      </span>
      <div style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">
        {{monthlybudget}} <a href="{% url 'monthlybudget-update' monthlybudget_object.pk %}" class="open-incident" data-popup-url="{% url 'monthlybudget-update' monthlybudget_object.pk %}">
          <span style="font-size: 20px">Edit</span>
        </a> 
      </div>
      
      
    </div>
  </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_width}}%; background-color: rgb(242, 128, 121) !important;">{{progress_width}}%</div>
    </div>
  {% else %}
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="piggy-icon">savings</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">Spending Budget</span>
      <a href="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}" class="open-incident" data-popup-url="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}">
        <span style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">Add</span>
      </a>
      
    </div>
  </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_width}}%; background-color: rgb(242, 128, 121) !important;">{{progress_width}}%</div>
    </div>

  {% endif %}


{% endblock %}


{% block b3 %}

  {% if expenditure_per_month %}
    <h4>Average Spending per Month: {{expenditure_per_month}}</h4>
  {% else %}
    <h4>Average Spending per Month: ~Needs two weeks of data </h4>
  {% endif %}

{% endblock %}




{% block chart %}
<h4>Pie Chart</h4>
{% include 'base/pie_chart.html' %}
{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}

{% block subscription-table %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
<h4>Was Active Subscriptions</h4>
  {% for subscription in was_active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
{% endblock %}

