{% extends 'base/summary_layout.html' %}

{% block container-header %}

<a href="{% url 'monthly-panel' %}?year={{prev_date_year}}&month={{prev_date_month}}" style="display: inline">Last Month</a>
<a href="{% url 'monthly-panel' %}?year={{next_date_year}}&month={{next_date_month}}" style="display: inline">Next Month</a>
<h3>Monthly Panel</h3>
<h2 id="date-title" style="display: inline">{{month_name}}, {{year}}</h2>

<form action="{% url 'monthly-panel'%}" method="GET" id="date-form">
  <select class="form-select" name="month">
    {% for select_month_name, month_value in month_range.items %}
      {% if select_month_name == month_name %}
        <option value="{{month_value}}" selected>{{select_month_name}}</option>
      {% else %}
        <option value="{{month_value}}">{{select_month_name}}</option>
      {% endif %}
    {% endfor %}
    
  </select>

  <select class="form-select" name="year">
    <option selected>Year</option>
    {% for select_year in year_range %}
      {% if select_year == year %}
        <option value="{{select_year}}" selected>{{select_year}}</option>
      {% else %}
        <option value="{{select_year}}">{{select_year}}</option>
      {% endif %}
    {% endfor %}
  </select>

  <input type="submit">
</form>



<!-- <h4>Monthly Panel: {{month_name}}, {{year}}</h4>
<form action="{% url 'monthly-panel' %}" method="GET">
  <input type="text" placeholder="Month (int)" name="month">
  <input type="text" placeholder="Year" name="year">
  <input type="submit" value="Submit">
</form> -->
{% endblock %}

{% block expense-table %}
<h4>Recent Expenses</h4>
<table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
            <td>{{expense.description}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}&month={{month}}">View More</a>
{% endblock %}


{% block spending %}
<h4>Spending</h4>
<h4>This Month's Spending: {{month_expenditure}}</h4>
{% endblock %}

{% block budgets %}
  {% if monthlybudget %}
    <h4>Monthly Spending Budget: {{monthlybudget}}</h4>
    <progress max="{{monthlybudget}}" value="{{month_expenditure}}"></progress>
      {% if surpass %}
      <h5>Monthly expenditure has exceeded the Monthly budget</h5>
      {% endif %}
      <a href="{% url 'monthlybudget-update' monthlybudget_object.pk %}">Edit spending budget</a>
  {% else %}
    <a href="{% url 'monthlybudget-create' %}?year={{year}}&month={{month}}">Add Spending Budget for Month</a>
  {% endif %}
{% endblock %}

{% block add-expense %}
<a href="{% url 'expense-create' %}" class="open-incident btn btn-info" data-popup-url="{% url 'expense-create' %}">ADD Expense</a>
{% endblock %}

{% block subscription-table %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.category}} {{subscription.cost}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}

  {% if expenditure_per_month %}
    <h4>Average Spending per Month: {{expenditure_per_month}}</h4>
  {% else %}
    <h4>Average Spending per Month: ~Needs two weeks of data </h4>
  {% endif %}



{% endblock %}




{% block chart %}
<h4>Pie Chart</h4>
{% include 'base/pie_chart.html' %}

{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}