{% extends 'base/panel_layout.html' %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'panel.css' %}">
{% endblock %}

{% block main-container %}

<div class="row" id="content-title">
  <div class="col-sm" >

      <h3>Overview Expenditure Profile</h3>

  </div>
</div>

<div class="container">
  <div class="row" id="row-content">
      <!--Banner -->

      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
            <div class="row">
                <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
                  <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
                </div>
                <div class="col-xs-8" style="padding-top: 5px;">
                  <span style="font-size: 15px; display: block; color: gray">Avg Daily Spending</span>
                  <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">{{avg_daily}}</div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
            <div class="row">
                <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
                  <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
                </div>
                <div class="col-xs-8" style="padding-top: 5px;">
                  <span style="font-size: 15px; display: block; color: gray">Avg Monthly Spending</span>
                  <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">{{avg_monthly}}</div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
            <div class="row">
                <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
                  <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
                </div>
                <div class="col-xs-8" style="padding-top: 5px;">
                  <span style="font-size: 15px; display: block; color: gray">Avg Yearly Spending</span>
                  <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">{{avg_yearly}}</div>
                </div>
              </div>
        </div>
      </div>


      <!--Viz-->
      <!--Charts -->
      <div class="col-sm-6">
        <div class="well banner">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#test">Weighted</a></li>
            <li><a data-toggle="tab" href="#user-table">Standard</a></li>
            <li><a data-toggle="tab" href="#us-table">US Standard</a></li>
          </ul>
          <div class="tab-content">
            <div id="test" class="tab-pane fade in active">
              {% if not zero_flag %}
              <h4>Your Avg Expenditure per Month (Ordered by Weight)</h4>
              <table class="table table-sm table-hover table-bordered">
                <div class="w-auto">
                  <thead>
                  <tr>
                      <th scope="col">Category</th>
                      <th scope="col">Expenditure</th>
                      <th scope="col">Percent</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for category in categories_data %}
                      <tr>
                          <td>{{category.name}}</td>
                          <td>${{category.expenditure}}</td>
                          <td>{{category.percent}}%</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </div>
              </table>
              {% else %}
              <h4>Your Avg Expenditure per Month (Not Enough Data)</h4>
              <table class="table table-sm table-striped table-hover table-bordered">
                <div class="w-auto">
                  <thead>
                  <tr>
                      <th scope="col">Category</th>
                      <th scope="col">Expenditure</th>
                      <th scope="col">Percent</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for category in categories_data %}
                      <tr>
                          <td>{{category.name}}</td>
                          <td>-</td>
                          <td>-</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </div>
              </table>
              {% endif %}
            </div>
            <div id="user-table" class="tab-pane fade">
              {% if not zero_flag %}
                <h4>Your Avg Expenditure per Month (Standardized)</h4>
                <table class="table table-sm table-hover table-bordered">
                  <div class="w-auto">
                    <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                        <th scope="col">Expenditure</th>
                        <th scope="col">Percent</th>
                        <th scope="col">Compare</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for category in sorted_all_categories_data %}
                          <tr style="background-color: rgb(245, 243, 240); font-weight: bold;">
                              <td>{{category.name}}</td>
                              <td></td>
                              <td>${{category.expenditure}}</td>
                              <td>{{category.percent}}%</td>
                              <td>{{category.compare}}</td>
                          </tr>
                          {% for sub_category in category.subcategories %}
                          <tr>
                            <td></td>
                            <td>{{sub_category.name}}</td>
                            <td>${{sub_category.expenditure}}</td>
                            <td>{{sub_category.percent}}%</td>
                            <td></td>
                          </tr>
                          {% endfor %}
                        {% endfor %}
                    </tbody>
                  </div>
                </table>

              <h4>Other Categories</h4>
              <table class="table table-sm table-hover table-bordered">
                <div class="w-auto">
                  <thead>
                  <tr>
                      <th scope="col">Category</th>
                      <th scope="col">Expenditure</th>
                      <th scope="col">Percent</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for category in other_categories_data %}
                      <tr>
                          <td>{{category.name}}</td>
                          <td>${{category.expenditure}}</td>
                          <td>{{category.percent}}%</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </div>
              </table>
              {% else %}

              {% endif %}

            </div>
            <div id="us-table" class="tab-pane fade">
              <h4>US Consumer Avg Expenditure per Month</h4>
              <table class="table table-sm table-hover table-bordered">
                <div class="w-auto">
                  <thead>
                  <tr>
                      <th scope="col">Category</th>
                      <th scope="col">Expenditure</th>
                      <th scope="col">Percent</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for category in us_categories_data %}
                      <tr style="background-color: rgb(245, 243, 240);">
                          <td>{{category.name}}</td>
                          <td>${{category.expenditure}}</td>
                          <td>{{category.percent}}%</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </div>
              </table>
            </div>
          </div>
          
          
        </div>
      </div>

      <!--Viz-->
      <!--Charts -->
      <div class="col-sm-6">
        <div class="well banner">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#living-chart">Living</a></li>
            <li><a data-toggle="tab" href="#quality-chart">Quality</a></li>
            <li><a data-toggle="tab" href="#accessory-chart">Accessory</a></li>
          </ul>
          <div class="tab-content">
            <div id="living-chart" class="tab-pane fade in active">
              {% include 'base/living_radar_graph.html' %}
            </div>
            <div id="quality-chart" class="tab-pane fade">
              {% include 'base/quality_radar_graph.html' %}
            </div>
            <div id="accessory-chart" class="tab-pane fade">
              {% include 'base/accessory_radar_graph.html' %}
            </div>
          </div>
          
          
          <!-- <h4>US Consumer Avg Expenditure per Month</h4>
          <table class="table table-sm table-striped table-hover">
            <div class="w-auto">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Avg Expenditure per Month</th>
                    <th scope="col">Percent</th>
                </tr>
                </thead>
                <tbody>
                    {% for category in us_categories_data %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>${{category.expenditure}}</td>
                        <td>{{category.percent}}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->

        </div>
      </div>
  </div>
</div>

{% include 'modal.html' %}
{% endblock %}

