{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 
  <link rel="stylesheet" href="{% static 'layout.css' %}">
  {% block custom-css %}
  {% endblock %}
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /* .row.content {height: 550px} */
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    /* @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    } */
  </style>
</head>



<body>


<!-- Top Navbar -->
<nav class="navbar navbar-expand navbar-fixed-top" id="header">
  <div class="container-fluid" id="header-container">
    <div class="navbar-header">
      <a class="navbar-brand">MycroExpense</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome {{user.get_username}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
  </div>

</nav>


<div class="container-fluid" id="sidebar-container">
  <div class="row" id="sidebar-row">
    <div class="col-sm-2" id="sidebar">
      <h4>Summaries</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'daily-panel' %}">Daily</a></li>
        <li><a href="{% url 'monthly-panel' %}">Monthly</a></li>
        <li><a href="{% url 'yearly-panel' %}">Yearly</a></li>
        <li><a href="filler">Overview</a></li>
      </ul>
      <h4>Edit</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'expense-list' %}">Expenses</a></li>
        <li><a href="{% url 'category-list' %}">Categories</a></li>
        <li><a href="{% url 'subscription-list' %}">Subscriptions</a></li>
      </ul>   
      <h4>Budgets</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'monthlybudget-list' %}">Monthly</a></li>
        <li><a href="{% url 'yearlybudget-list' %}">Yearly</a></li>
      </ul>
    </div>
    <div class="col-sm-10" id="main-content">
      {% block main-container %}
      {% endblock %}
  </div>
</div>

<!-- Left Navbar -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidenav hidden-xs">
      <h4>Expenses</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'expense-create' %}">Add Expense</a></li>
        <li><a href="{% url 'expense-list' %}">Edit Expenses</a></li>
      </ul>
      <h4>Categories</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'category-create' %}">Add</a></li>
        <li><a href="{% url 'category-list' %}">Edit</a></li>
      </ul>
      <h4>Summaries</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'daily-panel' %}">Daily</a></li>
        <li><a href="{% url 'monthly-panel' %}">Monthly</a></li>
        <li><a href="{% url 'yearly-panel' %}">Yearly</a></li>
        <li><a href="filler">Custom-range</a></li>
        <li><a href="filler">Overview</a></li>
      </ul>
      <h4>Yearly Spending Budgets</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'yearlybudget-create' %}">Add</a></li>
        <li><a href="{% url 'yearlybudget-list' %}">Edit</a></li>
      </ul>
      <h4>Monthly Spending Budgets</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'monthlybudget-create' %}">Add</a></li>
        <li><a href="{% url 'monthlybudget-list' %}">Edit</a></li>
      </ul>
      
    </div>
    <br>
    put block here
</div> -->

</body>

<!-- https://stackoverflow.com/questions/26819675/navbar-highlight-for-current-page -->
<!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script>
    $(function(){
        $('a').each(function(){
          // The .split is to get rid of the GET params from the URL
            if ($(this).prop('href') == window.location.href.split('?')[0]) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
</html>
