<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<!-- Top Navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">MycroExpense</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome {{user.get_username}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<!-- Left Navbar -->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <h3>Expenses</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'fixed-expense-create' %}">Add Expense</a></li>
        <li><a href="filler">Edit Expenses</a></li>
      </ul>
      <h3>Summaries</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'daily-panel' %}">Daily</a></li>
        <li><a href="{% url 'monthly-panel' %}">Monthly</a></li>
        <li><a href="{% url 'yearly-panel' %}">Yearly</a></li>
        <li><a href="filler">Custom</a></li>
        <li><a href="filler">Overview</a></li>
      </ul>
      <h3>Budgets</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="filler">View</a></li>
      </ul>
      
    </div>
    <br>
  {% block main-container %}
  {% endblock %}
</div>

</body>

<!-- https://stackoverflow.com/questions/26819675/navbar-highlight-for-current-page -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
          // The .split is to get rid of the GET params from the URL
            if ($(this).prop('href') == window.location.href.split('?')[0]) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
</html>
