<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<canvas id="pie-chart" width="300", height="300"></canvas>


  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#70161E', '#E6AF2E', '#FF0035', '#214F4B', '#17C3B2', '#7261A3', '#A67DB8', '#EEE0CB', '#776871', '#074F57', '#077187', '#E4C5AF', '#EAC5D8',
            '#212227', '#637074', '#DBD8F0'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        legend: {display: false},
        responsive: false
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>