{% extends 'base/panel_layout.html' %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'panel.css' %}">
{% endblock %}

{% block main-container %}

<div class="row" id="content-title">
  <div class="col-sm" >

      {% block container-header %}
      {% endblock %}

  </div>
</div>

<div class="row-sm-1" id="below-content-title">
  <div class="col-sm-7">

    <div class="row-sm-1">
      <div class="col-sm-auto">
        <div class="well">
          {% block spending %}
          {% endblock %}
        </div>
        
      </div>
    </div>
    <div class="row-sm-1">
      <div class="col-sm-auto">
        <div class="well">
          {% block budgets %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="row-sm-1">
      <div class="col-sm-auto">
        <div class="well">
          {% block add-expense %}
          {% endblock %}
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-5">
    <div class="well">
      <button id="toggle">Click Me</button>
      <div id="piechart">
        {% block chart %}
        {% endblock %}
      </div>
      <div id="barchart" hidden>
        {% block bc %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="row-sm-1">
  <div class="col-sm-9">
    <div class="well">
      {% block expense-table %}
      {% endblock %}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="well">
      {% block subscription-table %}
      {% endblock %}
    </div>
  </div>
</div>


<script>
  let item = document.querySelector("#toggle");
  item.addEventListener("click", myFunction);

  function myFunction() {
    piechart = document.getElementById('piechart');
    barchart = document.getElementById('barchart');
    
    if (piechart.style.display === 'none') {
      piechart.style.display = 'block';
      barchart.style.display = 'none';
    }
    else {
      piechart.style.display = 'none';
      barchart.style.display = 'block';
    }
    
    };
  
</script>

{% include 'base/expense_modal.html' %}
{% endblock %}

