{% extends 'base/panel_layout.html' %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'panel.css' %}">
{% endblock %}

{% block main-container %}

<div class="row" id="content-title">
  <div class="col-sm" >

      {% block container-header %}
      {% endblock %}

  </div>
</div>

<div class="container">
  <div class="row" id="row-content">
      <!--Banner -->

      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
          {% block spending %}
          {% endblock %}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
          {% block progress-bar %}
          {% endblock %}
          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well banner" style="height: 140px;">
          {% block budgets %}
          {% endblock %}
        </div>
      </div>


      <!--Viz-->
      <!--Charts -->
      <div class="col-sm-5">
        <div class="well banner" style="height: 540px;">
          <!--Nav Tabs using Bootstrap -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#piechart">Spending By Category</a></li>
            <li><a data-toggle="tab" href="#barchart">Spending By Time</a></li>
          </ul>
          <div class="tab-content">
            <div id="piechart" class="tab-pane fade in active" style="padding-top: 20px;">
              {% block chart %}
              {% endblock %}
            </div>
            <div id="barchart" class="tab-pane fade" style="padding-top: 80px;">
              {% block bc %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>

      <!--Table-->
      <div class="col-sm-7">
        <div class="well banner" style="height: 540px;">
          <!--Nav Tabs using Bootstrap -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#expense-table">Expenses</a></li>
            <li><a data-toggle="tab" href="#subscription-table">Subscriptions</a></li>
          </ul>
          <div class="tab-content">
            <div id="expense-table" class="tab-pane fade in active">
              {% block expense-table %}
              {% endblock %}
            </div>
            <div id="subscription-table" class="tab-pane fade">
              {% block subscription-table %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<!-- 
<script>
  let item = document.querySelector("#toggle");
  item.addEventListener("click", myFunction);

  function myFunction() {
    piechart = document.getElementById('piechart');
    barchart = document.getElementById('barchart');
    
    if (piechart.style.display === 'none') {
      piechart.style.display = 'block';
      barchart.style.display = 'none';
    }
    else {
      piechart.style.display = 'none';
      barchart.style.display = 'block';
    }
    
    };
  
</script> -->

{% include 'modal.html' %}
{% endblock %}

