{% extends 'base/panel_layout.html' %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'panel.css' %}">
{% endblock %}

{% block main-container %}

<div class="row" id="content-title">
  <div class="col-sm" >

      {% block container-header %}
      {% endblock %}

  </div>
</div>

<div class="row-sm-1" id="below-content-title">
  <div class="col-sm-4">
    <div class="row-sm-1">
      <div class="col">
        <div class="well">
          {% block spending %}
          {% endblock %}
          {% block budgets %}
          {% endblock %}
          {% block add-expense %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="row-sm-1">
      <div class="col">
        <div class="well">

          <!--Nav Tabs using Bootstrap -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#piechart">Home</a></li>
            <li><a data-toggle="tab" href="#barchart">Menu 1</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="piechart" class="tab-pane fade in active">
              {% block chart %}
              {% endblock %}
            </div>
            <div id="barchart" class="tab-pane fade">
              {% block bc %}
              {% endblock %}
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="well">
      {% block expense-table %}
      {% endblock %}
      {% block subscription-table %}
      {% endblock %}
    </div>
  </div>
</div>




<!-- 
<script>
  let item = document.querySelector("#toggle");
  item.addEventListener("click", myFunction);

  function myFunction() {
    piechart = document.getElementById('piechart');
    barchart = document.getElementById('barchart');
    
    if (piechart.style.display === 'none') {
      piechart.style.display = 'block';
      barchart.style.display = 'none';
    }
    else {
      piechart.style.display = 'none';
      barchart.style.display = 'block';
    }
    
    };
  
</script> -->

{% include 'modal.html' %}
{% endblock %}

