{% extends 'base/daily_layout.html' %}

{% block container-header %}
<h4>Yearly Panel: {{year}}</h4>
<form action="{% url 'yearly-panel' %}" method="GET">
  <input type="text" placeholder="Year" name="year">
  <input type="submit" value="Submit">
</form>
{% endblock %}

{% block expense-table %}
<h4>Recent Expenses</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td>{{expense.date|date:"M-d"|slice:"0:"}}</td>
            <td>{{expense.description}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}">View More</a>
{% endblock %}


{% block spending %}
<h4>Spending</h4>
<h4>This Year's Spending: {{year_expenditure}}</h4>
  {% if yearlybudget %}
  <h4>Yearly Spending Budget: {{yearlybudget}}</h4>
  <progress max="{{yearlybudget}}" value="{{year_expenditure}}"></progress>
    {% if surpass %}
    <h5>Yearly expenditure has exceeded the Yearly budget</h5>
    {% endif %}
    <a href="{% url 'yearlybudget-update' yearlybudget_object.pk %}">Edit spending budget</a>
  {% else %}
  <a href="{% url 'yearlybudget-create' %}?year={{year}}">Add Spending Budget for Year</a>
  {% endif %}
{% endblock %}

{% block b2 %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.category}} {{subscription.cost}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}

  {% if expenditure_per_year %}
    <h4>Average Spending per Year: {{expenditure_per_year}}</h4>
  {% else %}
    <h4>Average Spending per Year: ~Needs two weeks of data </h4>
  {% endif %}



{% endblock %}




{% block chart %}
<h4>Pie Chart</h4>
{% include 'base/pie_chart.html' %}

{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}