{% extends 'base/summary_layout.html' %}

{% block custom-script %}
<!--Icon for Go left-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--Icon for Go Right-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<script>
  $(document).ready(() => {
    $('#change-date').click(() => {
      let dateForm = document.querySelector('#date-form');
      let dateTitle = document.querySelector('#date-title');
      if (dateForm.style.display === 'none') {
        dateForm.style.display = 'inline';
        dateTitle.style.display = 'none';
      }
      else {
        dateForm.style.display = 'none';
        dateTitle.style.display = 'inline';
      }
    });
    $('#date-input-year').change(() => {
      $('#date-form').submit();
    });
  });

  // This fades out a success alert if there is one
  $(function() {
    setTimeout(function() {
      $('#success-alert').fadeOut('slow');
    }, 2500);
  });
  
</script>
{% endblock %}

{% block container-header %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }} alert-box success"{% endif %} id="success-alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<h3>Yearly Panel:</h3>
<a href="{% url 'yearly-panel' %}?year={{prev_date_year}}" style="display: inline"><span class="material-symbols-outlined">arrow_back_ios</span></a>

<h2 style="display: inline" id="date-title">{{year}}</h2>
<form action="{% url 'yearly-panel'%}" method="GET" id="date-form" style="display: none">
  <select class="form-select" name="year" style="width: 100px;">
    {% for select_year in year_range %}
      {% if select_year == year %}
        <option value="{{select_year}}" selected>{{select_year}}</option>
      {% else %}
        <option value="{{select_year}}">{{select_year}}</option>
      {% endif %}
    {% endfor %}
  </select>
</form>


<span id="change-date" class="material-symbols-outlined" style="display: inline">edit</span>

<a href="{% url 'yearly-panel' %}?year={{next_date_year}}" style="display: inline"><span class="material-symbols-outlined">arrow_forward_ios</span></a>
{% endblock %}

{% block expense-table %}
<h4>Expenses of the Year 
  <a href="{% url 'expense-create' %}" class="open-incident" data-popup-url="{% url 'expense-create' %}" style="font-size: 45px; font-family: 'Sofia Sans Extra Condensed', sans-serif;">
    <span class="material-symbols-outlined" style="float: right" id="add-icon">add_circle</span>
  </a>
</h4>
<table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td><a href="{% url 'daily-panel' %}?date={{expense.date|date:'Y-m-d'}}">{{expense.date|date:"M-d"|slice:"0:"}}</a></td>
            <td>{{expense.description|truncatechars:80}}</td>
            <td><a href="{% url 'expense-update' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-update' expense.pk %}" ><span id="change-icon" class="material-symbols-outlined" style="display: inline">edit</span></a></td>
            <td><a href="{% url 'expense-delete' expense.pk %}" class="open-incident" data-popup-url="{% url 'expense-delete' expense.pk %}"><span id="delete-icon" class="material-symbols-outlined">close</span></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}">View More</a>
{% endblock %}


{% block spending %}
<div class="row">
  <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
    <span class="material-symbols-outlined" id="dollar-icon">monetization_on</span>
  </div>
  <div class="col-xs-8" style="padding-top: 5px;">
    <span style="font-size: 15px; display: block; color: gray">Spending</span>
    <div style="font-size: 55px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">{{year_expenditure}}</div>
  </div>
</div>
{% endblock %}

{% block budgets %}
  {% if yearly_budget_indicator == "NO_BUDGET" %}
  <!--No Monthly Budget, display neutral icon-->
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="neutral-icon">mood</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">Track Budget Progress</span>
      <span style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">No Budget</span>
    </div>
  </div>
  {% elif yearly_budget_indicator == 'CURRENT_GOOD' %}
  <!--Curreunt: Good status, display satisfied icon-->
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="satisfied-icon">sentiment_very_satisfied</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px; padding-right: 50px;">
      <span style="font-size: 15px; display: block; color: gray">Budget Progress</span>
      <span style="font-size: 20px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">You're on track to staying within the budget!</span>
    </div>
  </div>
  {% else %}
  <div>{{yearly_budget_indicator}}</div>
  {% endif %}
{% endblock %}

{% block progress-bar %}
  {% if yearlybudget %}
    
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px;">
      <span class="material-symbols-outlined" id="piggy-icon">savings</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">
        Spending Budget <a href="{% url 'yearlybudget-delete' yearlybudget_object.pk %}" class="open-incident" data-popup-url="{% url 'yearlybudget-delete' yearlybudget_object.pk %}" style="float: right"><span id="delete-icon" class="material-symbols-outlined">close</span></a>
      </span>
      <div style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">
        {{yearlybudget}} <a href="{% url 'yearlybudget-update' yearlybudget_object.pk %}" class="open-incident" data-popup-url="{% url 'yearlybudget-update' yearlybudget_object.pk %}">
          <span style="font-size: 20px">Edit</span>
        </a> 
      </div>
    </div>
  </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_width}}%; background-color: rgb(242, 128, 121) !important;">{{progress_width}}%</div>
    </div>
  {% else %}
  <div class="row">
    <div class="col-xs-4" style="padding-top: 15px; padding-right: 0px">
      <span class="material-symbols-outlined" id="piggy-icon">savings</span>
    </div>
    <div class="col-xs-8" style="padding-top: 5px;">
      <span style="font-size: 15px; display: block; color: gray">Spending Budget</span>
      <a href="{% url 'yearlybudget-create' %}?year={{year}}" class="open-incident" data-popup-url="{% url 'yearlybudget-create' %}?year={{year}}">
        <span style="font-size: 40px; font-family: 'Sofia Sans Extra Condensed', sans-serif; display: inline;">Add</span>
      </a>
      
    </div>
  </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_width}}%; background-color: rgb(242, 128, 121) !important;">{{progress_width}}%</div>
    </div>

  {% endif %}
{% endblock %}

{% block subscription-table %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
<h4>Was Active Subscriptions</h4>
  {% for subscription in was_active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}

  {% if expenditure_per_year %}
    <h4>Average Spending per Year: {{expenditure_per_year}}</h4>
  {% else %}
    <h4>Average Spending per Year: ~Needs two weeks of data </h4>
  {% endif %}



{% endblock %}




{% block chart %}
{% include 'base/pie_chart.html' %}
{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}