{% extends 'base/summary_layout.html' %}

{% block custom-script %}
<!--Icon for Edit-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--Icon for Go left-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!--Icon for Go Right-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<script>
  $(document).ready(() => {
    $('#change-date').click(() => {
      let dateForm = document.querySelector('#date-form');
      let dateTitle = document.querySelector('#date-title');
      if (dateForm.style.display === 'none') {
        dateForm.style.display = 'inline';
        dateTitle.style.display = 'none';
      }
      else {
        dateForm.style.display = 'none';
        dateTitle.style.display = 'inline';
      }
    });
    $('#date-input-year').change(() => {
      $('#date-form').submit();
    });
  });
  
</script>
{% endblock %}

{% block container-header %}
<h3>Yearly Panel:</h3>
<a href="{% url 'yearly-panel' %}?year={{prev_date_year}}" style="display: inline"><span class="material-symbols-outlined">arrow_back_ios</span></a>

<h2 style="display: inline" id="date-title">{{year}}</h2>
<form action="{% url 'yearly-panel'%}" method="GET" id="date-form" style="display: none">
  <select class="form-select" name="year" style="width: 100px;">
    {% for select_year in year_range %}
      {% if select_year == year %}
        <option value="{{select_year}}" selected>{{select_year}}</option>
      {% else %}
        <option value="{{select_year}}">{{select_year}}</option>
      {% endif %}
    {% endfor %}
  </select>
</form>


<span id="change-date" class="material-symbols-outlined" style="display: inline">edit</span>

<a href="{% url 'yearly-panel' %}?year={{next_date_year}}" style="display: inline"><span class="material-symbols-outlined">arrow_forward_ios</span></a>
{% endblock %}

{% block expense-table %}
<h4>Recent Expenses</h4>
<table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for expense in limited_expenses %}
        <tr>
            <td>{{expense.category}}</td>
            <td>{{expense.cost}}</td>
            <td><a href="{% url 'daily-panel' %}?date={{expense.date|date:'Y-m-d'}}">{{expense.date|date:"M-d"|slice:"0:"}}</a></td>
            <td>{{expense.description|truncatechars:80}}...</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expense-list' %}?year={{year}}">View More</a>
{% endblock %}


{% block spending %}
<h4>Spending</h4>
<h4>This Year's Spending: {{year_expenditure}}</h4>
{% endblock %}

{% block budgets %}
  {% if yearlybudget %}
  <h4>Yearly Spending Budget: {{yearlybudget}}</h4>
  <progress max="{{yearlybudget}}" value="{{year_expenditure}}"></progress>
    {% if surpass %}
    <h5>Yearly expenditure has exceeded the Yearly budget</h5>
    {% endif %}
    <a href="{% url 'yearlybudget-update' yearlybudget_object.pk %}">Edit spending budget</a>
  {% else %}
  <a href="{% url 'yearlybudget-create' %}?year={{year}}">Add Spending Budget for Year</a>
  {% endif %}
{% endblock %}

{% block add-expense %}
<a href="{% url 'expense-create' %}" class="open-incident btn btn-info" data-popup-url="{% url 'expense-create' %}">ADD Expense</a>
{% endblock %}

{% block subscription-table %}
<h4>Active Subscriptions</h4>
  {% for subscription in active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
<h4>Was Active Subscriptions</h4>
  {% for subscription in was_active_subscriptions %}
  <h4>{{subscription.name}}</h4>
  {% endfor %}
{% endblock %}

{% block b3 %}

  {% if expenditure_per_year %}
    <h4>Average Spending per Year: {{expenditure_per_year}}</h4>
  {% else %}
    <h4>Average Spending per Year: ~Needs two weeks of data </h4>
  {% endif %}



{% endblock %}




{% block chart %}
<h4>Pie Chart</h4>
{% include 'base/pie_chart.html' %}

{% endblock %}

{% block bc %}
{% include 'base/bar_graph.html' %}
{% endblock %}