<!-- <h3>Subscription Form</h3>
<form method="POST" action="{% url 'subscription-update' subscription.pk %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form> -->

<div class="row">
    <div class="col-sm p-3">
        <form method="POST" action="{% url 'subscription-update' subscription.pk %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm">
                    
                    <div class="well" id="form-box">
                        <h3 style="text-align: center;">Edit Subscription</h3>
                        <div class="form-group">
                            <label>Name</label>
                            {{form.name}}  
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            {{form.category}}  
                        </div>
                        <div class="form-group">
                            <label>Cycle</label>
                            {{form.cycle}}
                        </div>
                        <div class="form-group">
                            <label>Start date</label>
                            {{form.start_date}}
                            <small class="form-text text-muted">Click to change date!</small>
                        </div>
                        <div class="form-group">
                            <label>Cost</label>
                            <div class="input-group mb-3">
                                <div class="input-group-addon">
                                    $
                                </div>
                                {{form.cost}}
                            </div>
                            <small id="negative-err-msg" class="form-text text-muted" style="color: red;" hidden>ERROR: Negative number</small>
                            <small id="overflow-err-msg" class="form-text text-muted" style="color: red;" hidden>ERROR: Input too large</small>
                        </div>
                        
                        <input id="subscription-submit" type="submit" value="Submit" style="float: right;">
                    </div>

                </div>       
            </div>
            
        </form>
    </div>
</div>

<script>
    $('#subscription-cost-input').keyup(costValidation);

    // Some basic error validation
    function costValidation() {
        let num = $('#subscription-cost-input').val();
        console.log(num);
        if (num && num < 0) {
            $('#subscription-cost-input').css({'color': 'red'});
            $('#negative-err-msg').css({'display': 'block'});
            $('#subscription-submit').prop('disabled', true);
        }

        else if (num > 99999999) {
            $('#subscription-cost-input').css({'color': 'red'});
            $('#overflow-err-msg').css({'display': 'block'});
            $('#subscription-submit').prop('disabled', true);
        }
        else {
            $('#subscription-cost-input').css({'color': 'black'});
            $('#negative-err-msg').css({'display': 'none'});
            $('#overflow-err-msg').css({'display': 'none'});
            $('#subscription-submit').prop('disabled', false);
        }
    }
</script>