{% extends 'base/panel_layout.html' %}

{% block main-container %}
<div class="row-sm-1">
    <div class="col-sm">
      <div class="well">
        <a href="{{request.META.HTTP_REFERER}}">Go back (NOT WORKING)</a>
        <h4>Subscriptions</h4>
      </div>
    </div>
  </div>

  <div class="row-sm-1">
    <div class="col-sm">
        <div class="well">
            <a href="{% url 'subscription-create' %}" class="open-incident" data-popup-url="{% url 'subscription-create' %}">ADD Subscription</a>
        </div>
    </div>
</div>

<div class="row-sm-1">
    <div class="col-sm">
        <div class="well">
            <table class="table">
                <div class="w-auto">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Cycle</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Active</th>
                        <th scope="col">Terminate</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">DELETE</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for subscription in subscriptions %}
                        <tr>
                            <td>{{subscription.name}}</td>
                            <td>{{subscription.category}}</td>
                            <td>{{subscription.cost}}</td>
                            <td>{{subscription.cycle}}</td>
                            <td>{{subscription.start_date}}</td>
                            <td>{{subscription.get_end_date}}</td>
                            <td>{{subscription.quantity}}</td>
                            <td>{{subscription.is_active}}</td>
                            <td><a href="{% url 'subscription-terminate' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-terminate' subscription.pk %}">TERMINATE</a></td>
                            <td><a href="{% url 'subscription-update' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-update' subscription.pk %}">EDIT</a></td>
                            <td><a href="{% url 'subscription-delete' subscription.pk %}" class="open-incident" data-popup-url="{% url 'subscription-delete' subscription.pk %}">DELETE</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


{% include 'modal.html' %}
{% endblock %}